.card-profile {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-profile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-profile.text-decoration-none {
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-profile.text-decoration-none:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logout {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout:hover {
    background-color: #f8d7da;
}
